/********************************************************************/
/**************************   LOGIN.HTML   **************************/
/********************************************************************/

body { 
	background: url(../images/background4.svg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
}

li {
	color: #560997;
}

#bootstrap-override .container {
	min-width: 90%;
	min-height: 100%;
}

#bootstrap-override .header {
	margin-top: 30px;
	padding-bottom: 5px;
	border-bottom: none;
}

#bootstrap-override .text-muted {
	font-family: 'Diplomata SC', cursive;
	color: #560997;
	margin-bottom: 0px;
	font-size: 1.75em;
}

#bootstrap-override a {
	background-color: transparent;
	font-family: "Bookman Old Style";
	color: #560997;
	bottom: 10px;
	font-size: 1.5em;
}

#bootstrap-override #jumbotron {
	background-color: transparent;
	padding-top: 8.5%;
}

#bootstrap-override #algo-title {
	font-family: "Bookman Old Style";
	color: #560997;
	margin-bottom: 7.5%; 
}

#bootstrap-override .form-control {
	width: 20%;
	margin-top: 2%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	text-align: center;
}

#bootstrap-override #login-register {
	font-family: "Bookman Old Style";
	padding: 5px;
	background-color: #560997;
}

#bootstrap-override .footer {
	font-family: cursive;
	text-align: center;
	border-top: none;
	color: #560997;
	position: absolute;
	right: 0;
	bottom: 1%;
	left: 0;
}


/********************************************************************/
/**************************   ABOUT.HTML   **************************/
/********************************************************************/

#bootstrap-override #about {
	font-family: "Bookman Old Style";
}



