/*body { 
	background: url(../images/background.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
	widows: 100%;
	height: auto;
}*/

body {
	background-image: url(../images/background.svg);
}