/********************************************************************/
/**************************   LOGIN.HTML   **************************/
/********************************************************************/

body { 
	background: url(../images/background4.svg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
}

li {
	color: #560997;
}

#bootstrap-override .container {
	min-width: 90%;
	min-height: 100%;
}

#bootstrap-override .header {
	margin-top: 30px;
	padding-bottom: 5px;
	border-bottom: none;
}

#bootstrap-override .text-muted {
	font-family: 'Diplomata SC', cursive;
	color: #560997;
	margin-bottom: 0px;
	font-size: 1.5em;
}

#bootstrap-override a {
	background-color: transparent;
	font-family: "Bookman Old Style";
	color: #560997;
	bottom: 10px;
	font-size: 1.5em;
}

#bootstrap-override #jumbotron {
	background-color: transparent;
	padding-top: 8.5%;
}

#bootstrap-override #algo-title {
	font-family: "Bookman Old Style";
	color: #560997;
	margin-bottom: 7.5%; 
}

#bootstrap-override .form-control {
	width: 20%;
	margin-top: 2%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	text-align: center;
}

#bootstrap-override #login-register {
	font-family: "Bookman Old Style";
	padding: 5px;
	background-color: #560997;
}

#bootstrap-override .footer {
	font-family: cursive;
	text-align: center;
	border-top: none;
	color: #560997;
	position: absolute;
	right: 0;
	bottom: 1%;
	left: 0;
}


/********************************************************************/
/**************************   ABOUT.HTML   **************************/
/********************************************************************/

#bootstrap-override #about {
	font-family: "Bookman Old Style";
	font-size: 2em;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}


/********************************************************************/
/***********************   CREATE_ALGO.HTML   ***********************/
/********************************************************************/

#bootstrap-override .flex-outer {
	list-style-type: none;
	padding-left: 0;
}

#bootstrap-override .criteria-label {
	font-family: "Bookman Old Style";
	font-weight: bold;
	font-size: 3em;
	color: #560997;
	margin-bottom: 0.6em;
}
#bootstrap-override .flex-outer li {
	margin-bottom: 1%;
}

#bootstrap-override .flex-outer label {
	font-family: "Bookman Old Style";
	float: left;
	font-size: 1.1em;
	text-align: left;
	width: 25%;
}

/* checkBox */
#bootstrap-override .flex-outer #checkBox {
	width: 25px;
	height: 20px;
	position: relative;
	label {
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		/*background: white;*/
		/*background: #fcfff4;*/
		/*background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
		border-radius: 4px;
		box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
		&:after {
			content: '';
			width: 9px;
			height: 5px;
			position: absolute;
			top: 4px;
			left: 4px;
			border: 3px solid #333;
			border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			transform: rotate(-45deg);
		}
		&:hover::after {
			opacity: 0.5;
		}
	}
	input[type=checkbox] {
		/*background-color: white;*/
		visibility: hidden;
		&:checked + label:after {
			opacity: 1;
		}
	}
}
/* end checkBox */

#bootstrap-override .flex-outer input {
	display: inline-block;
	width: 25%;
	margin-left: 7.5%;
}

#bootstrap-override .flex-outer input .high {
	display: inline-block;
	float: right;
	width: 25%;
}

#bootstrap-override .flex-outer button {
	background-color: #560997;
	color: white;
	font-weight: bold;
}

