{% extends "login.html" %}

{% block title %}

	<div id="jumbotron" class="jumbotron">
		<h1 id="algo-title">Customized Trading Algorithms</h1>
		<p class="lead"></p>
		<p id="login"></p>
		<p id="about">This application will allow users to enter a range of fundamental data used to screen stocks on a daily, historical basis.</p>
		<p id="about">After the screen finds a suitable list of stocks it will apply your buy-sell signals and begin trading those stocks during the chosen time period</p>
	</div>

{% endblock %}