{% extends "login.html" %}


{% block title %}

	<div class="container">

		<form class="parameters" action="/runAlgo" method="post" role="form">

			<div class="col-lg-6">
				<h4 class="criteria-label">Screening Criteria</h4>
				<ul class="flex-outer">
					<li>
						<label for="lastPrice">Last Price</label>
						<input type="lastPriceLow" name="inputLastPriceLow" id="inputLastPriceLow" placeholder="Low">
						<input type="lastPriceHigh" name="inputLastPriceHigh" id="inputLastPriceHigh" class="high" placeholder="High">
					</li>
					<li>
						<label for="currentRatio">Current Ratio</label>
						<input type="currentRatioLow" name="inputcurrentRatioLow" id="inputcurrentRatioLow" placeholder="Low">
						<input type="currentRatioHigh" name="inputcurrentRatioHigh" id="inputcurrentRatioHigh" class="high" placeholder="High">
					</li>
					<li>
						<label for="priceChange">52-Wk Price Chg</label>
						<input type="priceChangeLow" name="inputPriceChangeLow" id="inputPriceChangeLow" placeholder="Low">
						<input type="priceChangeHigh" name="inputPriceChangeHigh" id="inputPriceChangeHigh" class="high" placeholder="High">
					</li>
					<li>
						<label for="pe">Price / Earnings</label>
						<input type="peLow" name="inputPeLow" id="inputPeLow" placeholder="Low">
						<input type="peHigh" name="inputPeHigh" id="inputPeHigh" class="high" placeholder="High">
					</li>
					<li>
						<label for="eps">Earnings / Share</label>
						<input type="epsLow" name="inputEpsLow" id="inputEpsLow" placeholder="Low">
						<input type="epsHigh" name="inputEpsHigh" id="inputEpsHigh" class="high" placeholder="High">
					</li>
					<li>
						<label for="roe">Return on Equity</label>
						<input type="roeLow" name="inputRoeLow" id="inputRoeLow" placeholder="Low">
						<input type="roeHigh" name="inputRoeHigh" id="inputRoeHigh" placeholder="High">
					</li>
					<li>
						<label for="roi">Return on Invested Cap</label>
						<input type="roiLow" name="inputRoiLow" id="inputRoiLow" placeholder="Low">
						<input type="roiHigh" name="inputRoiHigh" id="inputRoiHigh" placeholder="High">
					</li>
					<li>
						<label for="divYield">Dividend Yield</label>
						<input type="divYieldLow" name="inputDivYieldLow" id="inputDivYieldLow" placeholder="Low">
						<input type="divYieldHigh" name="inputDivYieldHigh" id="inputDivYieldHigh" placeholder="High">
					</li>
					<li>
						<label for="debtEquity">Debt / Equity</label>
						<input type="debtEquityLow" name="inputDebtEquityLow" id="inputDebtEquityLow" placeholder="Low">
						<input type="debtEquityHigh" name="inputDebtEquityHigh" id="inputDebtEquityHigh" placeholder="High">
					</li>
					<li>
						<label for="beta">Beta</label>
						<input type="betaLow" name="inputBetaLow" id="inputBetaLow" placeholder="Low">
						<input type="betaHigh" name="inputBetaHigh" id="inputBetaHigh" placeholder="High">
					</li>
				</ul>
			</div>

			<div class="col-lg-6">
				<h4 class="criteria-label">Buy/Sell Criteria</h4>
				<ul class="flex-outer">
					<li>
						<label for="crossover">50-200 Day SMA Crossover</label>
						<input type="crossover" name="inputcrossover" id="inputcrossover" placeholder="Create check box here to turn on">
					</li>
					<li>
						<label for="volumeChange">Volume Change</label>
						<input type="volumeChangeBuy" name="inputVolumeChangeBuy" id="inputVolumeChangeBuy" placeholder="Buy">
						<input type="volumeChangeSell" name="inputVolumeChangeSell" id="inputVolumeChangeSell" class="Sell" placeholder="Sell">
					</li>
					<li>
						<label for="priceChange">Price Change</label>
						<input type="priceChangeBuy" name="inputPriceChangeBuy" id="inputPriceChangeBuy" placeholder="Buy">
						<input type="priceChangeSell" name="inputPriceChangeSell" id="inputPriceChangeSell" class="Sell" placeholder="Sell">
					</li>
					<li>
						<label for="divergence">Divergence</label>
						<input type="divergenceBuy" name="inputDivergenceBuy" id="inputDivergenceBuy" placeholder="Buy">
						<input type="divergenceSell" name="inputDivergenceSell" id="inputDivergenceSell" class="Sell" placeholder="Sell">
					</li>
					<li>
						<label for="macd">MACD</label>
						<input type="macdBuy" name="inputMacdBuy" id="inputMacdBuy" placeholder="Buy">
						<input type="macdSell" name="inputMacdSell" id="inputMacdSell" class="Sell" placeholder="Sell">
					</li>
					<li>
						<label for="rsi">RSI</label>
						<input type="rsiBuy" name="inputRsiBuy" id="inputRsiBuy" placeholder="Buy">
						<input type="rsiSell" name="inputRsiSell" id="inputRsiSell" placeholder="Sell">
					</li>
					<li>
						<label for="stoploss">Trailing Stop-Loss</label>
						<input type="stoplossBuy" name="inputStoplossBuy" id="inputStoplossBuy" placeholder="Buy">
						<input type="stoplossSell" name="inputStoplossSell" id="inputStoplossSell" placeholder="Sell">
					</li>
					<li>
						<label for="divYield">Other Stuff Here</label>
						<input type="divYieldBuy" name="inputDivYieldBuy" id="inputDivYieldBuy" placeholder="Buy">
						<input type="divYieldSell" name="inputDivYieldSell" id="inputDivYieldSell" placeholder="Sell">
					</li>
					<li>
						<label for="debtEquity">Other Stuff Here</label>
						<input type="debtEquityBuy" name="inputDebtEquityBuy" id="inputDebtEquityBuy" placeholder="Buy">
						<input type="debtEquitySell" name="inputDebtEquitySell" id="inputDebtEquitySell" placeholder="Sell">
					</li>
					<li>
						<label for="beta">Other Stuff Here</label>
						<input type="betaBuy" name="inputBetaBuy" id="inputBetaBuy" placeholder="Buy">
						<input type="betaSell" name="inputBetaSell" id="inputBetaSell" placeholder="Sell">
					</li>
					<li>
						<button type="submit">Submit</button>
					</li>
				</ul>
			</div>

		</form>

		<div class="col-lg-12">
			
		</div>

	</div>

{% endblock %}





