{% extends "login.html" %}


{% block title %}

	<div class="container">

		<form class="parameters" action="/filter" method="post" role="form">

			<div class="col-lg-6">
				<h4 class="criteria-label">Screening Criteria</h4>
				<ul class="flex-outer">
					<li>
						<label for="lastPrice">Last Price</label>
						<input type="number" step="any" min="0.0" max="999999.0" name="inputLastPriceLow" id="inputLastPriceLow" class="colorChange defLowZero" placeholder="Low" value="0">
						<input type="number" step="any" min="0.0" max="999999.0" name="inputLastPriceHigh" id="inputLastPriceHigh" class="colorChange defHigh high" placeholder="High" value="999999">
					</li>
<!-- 					<li>
						<label for="currentRatio">Current Ratio</label>
						<input type="currentRatioLow" name="inputCurrentRatioLow" id="inputCurrentRatioLow" class="defLowZero" placeholder="Low">
						<input type="currentRatioHigh" name="inputCurrentRatioHigh" id="inputCurrentRatioHigh" class="defHigh high" placeholder="High">
					</li> -->
<!-- 					<li>
						<label for="priceChange">52-Wk Price Chg</label>
						<input type="priceChangeLow" name="inputPriceChangeLow" id="inputPriceChangeLow" placeholder="Low">
						<input type="priceChangeHigh" name="inputPriceChangeHigh" id="inputPriceChangeHigh" class="high" placeholder="High">
					</li> -->
					<li>
						<label for="pe">PE Ratio</label>
						<input type="number" step="any" min="0.0" max="999999.0" name="inputPeLow" id="inputPeLow" class="colorChange def-low-nines" placeholder="Low" value="0">
						<input type="number" step="any" min="0.0" max="999999.0" name="inputPeHigh" id="inputPeHigh" class="colorChange defHigh high" placeholder="High" value="999999">
					</li>
<!-- 					<li>
						<label for="eps">EPS</label>
						<input type="epsLow" name="inputEpsLow" id="inputEpsLow" class="def-low-nines" placeholder="Low">
						<input type="epsHigh" name="inputEpsHigh" id="inputEpsHigh" class="defHigh high" placeholder="High">
					</li>
					<li>
						<label for="roe">ROE</label>
						<input type="roeLow" name="inputRoeLow" id="inputRoeLow" class="def-low-hund" placeholder="Low">
						<input type="roeHigh" name="inputRoeHigh" id="inputRoeHigh" class="defHigh" placeholder="High">
					</li>
					<li>
						<label for="roic">ROIC</label>
						<input type="roicLow" name="inputRoicLow" id="inputRoicLow" class="def-low-hund" placeholder="Low">
						<input type="roicHigh" name="inputRoicHigh" id="inputRoicHigh" class="defHigh" placeholder="High">
					</li> -->
					<li>
						<label for="divYield">Div Yield</label>
						<input type="number" step="any" min="0.0" max="999999.0" name="inputDivYieldLow" id="inputDivYieldLow" class="colorChange defLowZero" placeholder="Low" value="0">
						<input type="number" step="any" min="0.0" max="999999.0" name="inputDivYieldHigh" id="inputDivYieldHigh" class="colorChange defHigh" placeholder="High" value="999999">
					</li>
					<li>
						<label for="debtEquity">DE Ratio</label>
						<input type="number" step="any" min="0.0" max="999999.0" name="inputDebtEquityLow" id="inputDebtEquityLow" class="colorChange defLowZero" placeholder="Low" value="0">
						<input type="number" step="any" min="0.0" max="999999.0" name="inputDebtEquityHigh" id="inputDebtEquityHigh" class="colorChange defHigh" placeholder="High" value="999999">
					</li>
<!-- 					<li>
						<label for="beta">Beta</label>
						<input type="betaLow" name="inputBetaLow" id="inputBetaLow" placeholder="Low">
						<input type="betaHigh" name="inputBetaHigh" id="inputBetaHigh" placeholder="High">
					</li> -->
				</ul>
			</div>

			<div class="col-lg-6">
				<h4 class="criteria-label">Buy/Sell Criteria</h4>
				<ul class="flex-outer">
<!-- 					<li>
						<label for="crossover">50-200 SMA Crossover</label>
						<input type="crossover" name="inputcrossover" id="inputcrossover" placeholder="Create check box here to turn on">
						<input type="checkbox" value="None" id="checkBox" name="check" checked />
					</li> -->
<!-- 					<li>
						<label for="volumeChange">Volume Change</label>
						<input type="volumeChangeBuy" name="inputVolumeChangeBuy" id="inputVolumeChangeBuy" class="defFalse" placeholder="Buy">
						<input type="volumeChangeSell" name="inputVolumeChangeSell" id="inputVolumeChangeSell" class="defFalse Sell" placeholder="Sell" data-default="">
					</li>
					<li>
						<label for="priceChange">Price Change</label>
						<input type="priceChangeBuy" name="inputPriceChangeBuy" id="inputPriceChangeBuy" class="defFalse" placeholder="Buy">
						<input type="priceChangeSell" name="inputPriceChangeSell" id="inputPriceChangeSell" class="defFalse Sell" placeholder="Sell">
					</li> -->
<!-- 					<li>
						<label for="divergence">Divergence</label>
						<input type="divergenceBuy" name="inputDivergenceBuy" id="inputDivergenceBuy" placeholder="Buy">
						<input type="divergenceSell" name="inputDivergenceSell" id="inputDivergenceSell" class="Sell" placeholder="Sell">
					</li>
					<li>
						<label for="macd">MACD</label>
						<input type="macdBuy" name="inputMacdBuy" id="inputMacdBuy" placeholder="Buy">
						<input type="macdSell" name="inputMacdSell" id="inputMacdSell" class="Sell" placeholder="Sell">
					</li>
 -->				<li>
						<label for="rsi">RSI</label>
						<input type="number" step="any" min="0.0" max="100.0" name="inputRsiBuy" id="inputRsiBuy" class="colorChange defFalse" placeholder="Buy" value="0">
						<input type="number" step="any" min="0.0" max="100.0" name="inputRsiSell" id="inputRsiSell" class="colorChange defFalse" placeholder="Sell" value="100">
					</li>
<!-- 					<li>
						<label for="stopLoss">Trailing Stop-Loss</label>
						<input type="number" step="any" min="0.0" max="100.0" name="inputStoplossSell" id="inputStoplossSell" class="colorChange defFalse" placeholder="Enter a percentage" value="10">
					</li> -->
<!-- 					<li>
						<label for="divYield">Other Stuff Here</label>
						<input type="divYieldBuy" name="inputDivYieldBuy" id="inputDivYieldBuy" placeholder="Buy">
						<input type="divYieldSell" name="inputDivYieldSell" id="inputDivYieldSell" placeholder="Sell">
					</li>
					<li>
						<label for="beta">Other Stuff Here</label>
						<input type="betaBuy" name="inputBetaBuy" id="inputBetaBuy" placeholder="Buy">
						<input type="betaSell" name="inputBetaSell" id="inputBetaSell" placeholder="Sell">
					</li> -->
					<li id="button">
						<button id="run-backtest" type="submit">Run Backtest</button>
						<input type="text" id="startdate" name="startdate" class="colorChange" value="01/02/2007" />
						<input type="text" id="enddate" name="enddate" class="colorChange" value="03/28/2017" />
						<!-- <input type="text" id="daterange" name="daterange" value="01/01/2007 - 03/28/2017" /> -->
					</li>
				</ul>
			</div>

		</form>


		<!-- Chart Display & Stats -->
		<div id="chart-container" style="width: 100%; height: 55vh;"></div>


	</div>

{% endblock %}





